/* =========================== IMPORTANT =========================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
}

/* =========================== COMMON CSS =========================== */
body {
  background: #c8d8e4;
}

a {
  color: #000;
}

a:hover {
  opacity: 0.9;
}

a:active {
  opacity: 1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =========================== HEADER SECTION =========================== */
.navbar {
  width: 100%;
  padding-left: 20px;
  height: 50px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
  z-index: 1;
}

.nav-title h2 {
  color: #000;
  font-size: 1.5rem;
  user-select: none;
  cursor: pointer;
}

.nav-title span {
  color: #52ab98;
}

.hamburgerMenu {
  display: none;
}

.links {
  font-size: 18px;
  display: flex;
}

.links a {
  color: #000;
  padding: 13px 10px 13px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}

.links a .icons {
  margin-right: 7px;
}

.links a:hover {
  background-color: #2b6777;
  color: #f2f2f2;
}

#hamburger {
  display: none;
}
/* ---------------- RESPONSIVE NAVIGATION CSS ---------------- */
@media (max-width: 640px) {
  .navbar {
    justify-content: space-between;
  }

  .hamburgerMenu {
    display: block;
    margin-right: 20px;
  }

  .hamburgerMenu label {
    display: inline-block;
    cursor: pointer;
    padding: 17px;
    height: 50px;
    width: 50px;
  }

  #hamburgerMenu label:hover,
  .navbar #hamburger:checked ~ .hamburgerMenu > label {
    background-color: var(--background-color);
  }

  .hamburgerMenu label div {
    border-top: 2px solid #52ab98;
    display: block;
    height: 10px;
    width: 25px;
  }

  .links {
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    width: 100%;
    height: 0px;
    border-top: 1px solid #52ab98;
    overflow-y: hidden;
    background-color: #f2f2f2;
    transition: all 0.3s;
  }

  .links a {
    display: block;
    width: 100%;
  }

  .links a .icons {
    margin-right: 7px;
  }

  #humburger:not(:checked) ~ .links {
    height: 0px;
  }

  #hamburger:checked ~ .links {
    height: calc(100px - 50px);
    border-bottom: 1px solid #52ab98;
  }
}

/* =========================== MAIN SECTION =========================== */
main {
  height: 100vh;
  padding: 65px 0 80px;
}

/* =========================== FILTER SECTION =========================== */
.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filters li {
  background-color: #f5f5fa;
  padding: 8px 15px;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: all ease 0.2s;
  margin-bottom: 15px;
}

.filters li:active {
  opacity: 1;
}

.filters li:hover,
.filters li.active {
  background: #2b6777;
  color: white;
}

.filters li.html:hover,
.filters li.html.active {
  background: #ea6327;
  color: white;
}

.filters li.css:hover,
.filters li.css.active {
  background: #2883eb;
  color: white;
}

.filters li.js:hover,
.filters li.js.active {
  background: #fbc036;
  color: white;
}

/* =========================== PROJECTS SECTION =========================== */
.projects {
  flex-wrap: wrap;
  justify-content: center;
}

.projects .project {
  background: #f6f6f6;
  width: calc(34% - 20px);
  margin-bottom: 13px;
  margin-left: 13px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 7px;
}

.projects .project img {
  width: 100%;
  display: block;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.projects .project .content {
  background: #52ab98;
  color: #f6f6f6;
  padding: 15px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.projects .project .icon {
  margin-left: 5px;
  font-size: 22px;
  transition: all ease 0.2s;
  color: #f6f6f6;
}

.projects .project .icon:hover {
  color: #407584;
}

/* ---------------------------- ABOUT PAGE ---------------------------- */
.about-page {
  padding: 100px 0;
}

.about-page h1 {
  font-weight: 800;
  margin-bottom: 40px;
}

/* ---------------------------- Tablet Screen ---------------------------- */
@media only screen and (max-width: 992px) {
  .projects {
    padding: 0 10px 0 0;
  }
}

/* ---------------------------- Mobile Screen ---------------------------- */
@media only screen and (max-width: 668px) {
  .projects .project {
    width: 100%;
  }
}
@media only screen and (max-width: 520px) {
  main {
    min-height: calc(100vh - 147px);
    padding: 70px 0 80px;
  }

  header img {
    width: 40px;
  }

  header nav a {
    margin-left: 2px;
    font-size: 10px;
  }
}
