/* =========================== IMPORTANT =========================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
}

/* =========================== COMMON CSS =========================== */
body {
  background: #d6e4f0;
}

a {
  color: #000;
}

a:hover {
  opacity: 0.9;
}

a:active {
  opacity: 1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =========================== HEADER SECTION =========================== */
header {
  background: #f6f6f6;
  padding: 10px 0;
  box-shadow: 6px 2px 16px 0px rgba(136, 165, 191, 0.48) , -6px -2px 16px 0px rgba(255, 255, 255, 0.8);
}
header img {
  width: 70px;
  border-radius: 50%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
header nav a {
  margin-left: 30px;
  background-color: #f5f5fa;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
header nav a i {
  margin-right: 5px;
}

header .container nav a .icon {
  position: relative;
  top: 3px;
}

header nav a.active {
  background: #1e56a0;
  color: white;
}

/* =========================== MAIN SECTION =========================== */
main {
  height: calc(100vh - 205px);
}

/* =========================== FILTER SECTION =========================== */
.filters {
  display: flex;
  margin: 30px 0;
}

.filters li {
  background-color: #f5f5fa;
  padding: 8px 15px;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: all ease 0.2s;
}

.filters li:active {
  opacity: 1;
}

.filters li.active {
  background: #1e56a0;
  color: white;
}

.filters li.html:hover {
  background-color: #e75927;
  color: #fff;
  transform: scale(1.1);
}

.filters li.css:hover {
  background-color: #288dec;
  color: #fff;
  transform: scale(1.1);
}

.filters li.js:hover {
  background-color: #fbb93c;
  color: #fff;
  transform: scale(1.1);
}

/* =========================== PROJECTS SECTION =========================== */
.projects {
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.projects .project {
  background: #f6f6f6;
  width: calc(34% - 20px);
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 7px;
}
.projects .project img {
  width: 100%;
  display: block;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.projects .project .content {
  background: #f6f6f6;
  padding: 15px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.projects .project .icon {
  margin-left: 5px;
  font-size: 22px;
  transition: all ease 0.2s;
}

.projects .project .icon:hover{
  color: #1e56a0;
}

/* =========================== FOOTER SECTION =========================== */
footer {
  background: #f6f6f6;
  padding: 30px 0;
  text-align: center;
}

/* ---------------------------- ABOUT PAGE ---------------------------- */
.about-page {
  padding: 100px 0;
}
.about-page h1 {
  font-weight: 800;
  margin-bottom: 40px;
}
